html,body{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.logo{
    margin: 1rem;
}

nav{
    width: 90%;
    float: right;
    
}

ul{
    display: inline-block;
}

.ul2{
    float: right;
}

ul > a{
    margin: 0 2rem 0 2rem;
    text-decoration: none;
    color: black;
}

.inizia{
    background-color: rgb(27, 64, 215);
    color: white;
    width: 5rem;
    height: 2rem;
    border: none;
    margin: 0 2rem 0 1rem;
}

.contenitore1{
    display: flex;
    flex-flow: row wrap;
    padding: 0 350px 0 400px;
    background-color: lightsteelblue;
}

.contenitore1 > h1{
    flex-basis: 100%;
    font-size: 5rem;
}

.gratuita{
    flex-basis: 30%;
}

.jumbo{
    max-width: 70%;
    position: relative;
    top: 4rem;
}

.gratuita > p{
    letter-spacing: 0.03em;
    line-height: 1.5rem;
}

.gratuita > button{
    background-color: rgb(27, 64, 215);
    color: white;
    width: 12rem;
    height: 2.2rem;
    border: none;
    margin: 1rem 0 2rem 0;
}

.gratuita > span{
    letter-spacing: 0.03em;
}

.fa-arrow-down{
    font-size: 3rem;
    margin-top: 5rem;
}

.business{
    margin-top: 9rem;
    text-align: left;
    margin-left: 375px;
    margin-bottom: 50px;
}

.contenitore2{
    width: 1152px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.contenitore2 > div{
    flex-basis: 30%;
    border: 1.5px solid lightgrey;
}

.opzione > .piano{
    border: 1.5px solid lightgrey;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    height: 2rem;
    padding-top: 1rem;
}

.piano{
    display: block;
    width: 100%;
}

.tipo{
    display: block;
    color: grey;
    margin-bottom: 2rem;
}

.interiore{
    padding: 2rem;
}

.interiore > h2{
    margin-top: 0px;
}

.interiore > *{
    margin-bottom: 1.5rem;
}

.interiore > strong{
    display: block;
}

.interiore > .tipo{
    margin-top: -0.5rem;
    margin-bottom: 3rem;
}

.interiore > button{
    background-color: rgb(0, 72, 255);
    height: 2rem;
    width: 17rem;
    margin: auto;
    color: white;
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.divisore{
    margin: 2rem 0rem 3rem 0rem;
    width: 20%;
}

.fa-check{
    color: blue;
}

form{
    margin-left: 375px;
    margin-bottom: 50px;
}

.team{
    flex-grow: 3;
}

.team > .piano{
    border: 1.5px solid lightgrey;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    height: 2rem;
    padding-top: 1rem;
}

.team > .interiore{
    padding: 2rem;
}

.vendite{
    float: right;
}

.team > .interiore > p{
    margin-top: 4rem;
}

.contenitore3{
    width: 1152px;
    display: flex;
    margin: auto;
    margin-top: 9rem;
    gap: 50px;
}

.contenitore3 > img{
    flex-basis: 65%;
    width: 65%;
}

.contenitore3 > div{
    margin-top: 4rem;
}

.contenitore3 > div > p{
    line-height: 1.3rem;
    letter-spacing: 0.03rem;
}

.contenitore3 > div > button{
    background-color: white;
    height: 2.3rem;
    width: 9rem;
    margin: auto;
    color: black;
    border: 1px solid black;
    margin-top: 1.5rem;
}

.contenitore4{
    width: 1152px;
    display: flex;
    margin: auto;
    margin-top: 4rem;
    gap: 50px;
    flex-wrap: wrap;
}

.contenitore4 > div{
    flex-basis: 30%;
}

.contenitore4 > div > img{
    width: 100%;
}

.business2{
    text-align: left;
    margin: auto;
    width: 1152px;
    margin-top: 8rem;
    letter-spacing: 0.04rem;
    font-size: 2.5rem;
}

.contenitore4 > div > p{
    letter-spacing: 0.04rem;
    line-height: 1.4rem;
}

.business3{
    text-align: left;
    margin: auto;
    width: 1152px;
    margin-top: 10rem;
    letter-spacing: 0.04rem;
}

.clienti{
    display: block;
    text-align: left;
    margin: auto;
    width: 1152px;
    margin-top: 5rem;
    margin-bottom: -300px;
    letter-spacing: 0.04rem;
}

.contenitore5{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contenitore5 > div{
    height: 18rem;
}

.contenitore5 > div > img{
    width: 50%;
    position: relative;
    margin: auto;
    top: 35%;
    left: 26%;
}

.contenitore5 > div:nth-child(1){
    background-color: rgb(138, 222, 150);
    border: 10px solid rgb(181, 233, 181);
    box-sizing: border-box;
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(2){
    background-color: rgb(123, 12, 12);
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(3){
    background-color: rgb(232, 226, 226);
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(4){
    background-color: rgb(232, 226, 226);
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(5){
    background-color: rgb(205, 38, 38);
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(6){
    background-color: rgb(189, 239, 239);
    padding-top: 3rem;
    flex-basis: 19.8rem;
    box-sizing: border-box;
}

.contenitore5 > div:nth-child(7){
    background-color: rgb(0, 157, 255);
    padding-top: 3rem;
    box-sizing: border-box;
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(8){
    background-color: red;
    padding-top: 1rem;
    box-sizing: border-box;
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(9){
    background-color: rgb(232, 226, 226);
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(10){
    background-color: rgb(232, 226, 226);
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(11){
    background-color: blue;
    padding-top: 1rem;
    box-sizing: border-box;
    flex-basis: 19.8rem;
}

.contenitore5 > div:nth-child(12){
    background-color: rgb(209, 209, 74);
    box-sizing: border-box;
    flex-basis: 19.8rem;
}


.speciale{
    position: relative;
    left: 39.6rem;
    top: 31.2rem;
    height: 500px;
    width: 633px;
    align-self: center;
    padding: 3rem;
    box-sizing: border-box;
}

.speciale > img{
    fill: black;
}

.speciale > hr{
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 20%;
    margin-left: 0px;
}

.speciale2{
    flex-basis: 100%;
    background-color: rgb(171, 219, 243);
}

.speciale2 > h1{
    color: rgb(124, 20, 20);
    display: inline-block;
    margin-top: 7rem;
    margin-left: 33.5rem;
}

.speciale2 > button{
    background-color: white;
    color: black;
    width: 16rem;
    height: 2.2rem;
    border: none;
    position: relative;
    left: 17rem;
    bottom: 2.4rem;
    
}

.contenitore6{
    width: 1152px;
    display: flex;
    margin: auto;
    margin-top: 7rem;
    flex-direction: column;
}

.fa-angle-down{
    float: right;
    margin-right: 3rem;
}

.contenitore6 > hr{
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.contenitore7{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 4rem 10rem 8rem 18rem;
    margin-top: 6rem;
}

.contenitore7 > div{
    display: block;
    width: 25%;
    margin-right: 0px;
    letter-spacing: 0.03em;
    line-height: 3rem;
}

footer{
    background-color: black;
    color: lightgray;
    margin-top: -15px;
    height: 100px;
}

footer > hr{
    width: 8%;
    margin-left: 290px;
    margin-bottom: 30px;
}

footer > span {
    margin-left: 290px;
}