.logo{
    margin: 1rem;
}

header{
    
}

nav{
    width: 90%;
    float: right;
    
}

ul{
    display: inline-block;
}

.ul2{
    float: right;
}

ul > a{
    margin: 0 2rem 0 2rem;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.inizia{
    background-color: rgb(27, 64, 215);
    color: white;
    width: 5rem;
    height: 2rem;
    border: none;
    margin: 0 2rem 0 1rem;
}